# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
examples/uncased_L-8_H-512_A-8/bert_config.json
examples/uncased_L-8_H-512_A-8/bert_model.ckpt.data-00000-of-00001
examples/uncased_L-8_H-512_A-8/bert_model.ckpt.index
examples/uncased_L-8_H-512_A-8/vocab.txt
examples/wireshark/bert_on_train_comments.h5
examples/wireshark/bert_pretrained_on_code.h5
examples/wireshark/comment_purpose_test.pdf
examples/wireshark/comment_purpose_train.pdf
examples/wireshark/comment_subject_test.pdf
examples/wireshark/comment_subject_train.pdf
examples/wireshark/data/classify_comments_results.xlsx
examples/wireshark/data/lines.json
examples/wireshark/data/vocab.txt

# BERT specific code for companies
bert4code_config.json
bike_bert4code_c.h5
cloudera_vocab.txt
bike_vocab.txt
cloudera-lines.json
Find similar lines 2.3.ipynb
Find similar lines 2.6.ipynb
Find similar lines.ipynb
Find_similar_lines.py
Mireks_script.ipynb
pretrain_on_code.ipynb
lines-embd.json
line_pairs/0.json
line_pairs/1.json
line_pairs/2.json
line_pairs/3.json
line_pairs/4.json
line_pairs/5.json
line_pairs/6.json
line_pairs/7.json
line_pairs/8.json
line_pairs/9.json
line_pairs/10.json
line_pairs/11.json
line_pairs/12.json
line_pairs/13.json
line_pairs/14.json
line_pairs/15.json
line_pairs/16.json
line_pairs/17.json
line_pairs/18.json
line_pairs/19.json
line_pairs/20.json
line_pairs/21.json
line_pairs/22.json
line_pairs/23.json
line_pairs/24.json
line_pairs/25.json
line_pairs/26.json
line_pairs/27.json
line_pairs/28.json
line_pairs/29.json
line_pairs/30.json
line_pairs/31.json
line_pairs/32.json
line_pairs/33.json
line_pairs/34.json
line_pairs/35.json
line_pairs/36.json
line_pairs/37.json
line_pairs/38.json
line_pairs/39.json
line_pairs/40.json
line_pairs/41.json
line_pairs/42.json
line_pairs/43.json
line_pairs/44.json
line_pairs/45.json
line_pairs/46.json
line_pairs/47.json
line_pairs/48.json
line_pairs/49.json
line_pairs/50.json
line_pairs/51.json
line_pairs/52.json
line_pairs/53.json
line_pairs/54.json
line_pairs/55.json
line_pairs/56.json
line_pairs/57.json
line_pairs/58.json
line_pairs/59.json
line_pairs/60.json
line_pairs/61.json
line_pairs/62.json
line_pairs/63.json
line_pairs/64.json
line_pairs/65.json
line_pairs/66.json
line_pairs/67.json
line_pairs/68.json
line_pairs/69.json
line_pairs/70.json
line_pairs/71.json
line_pairs/72.json
line_pairs/73.json
line_pairs/74.json
line_pairs/75.json
line_pairs/76.json
line_pairs/77.json
line_pairs/78.json
line_pairs/79.json
line_pairs/80.json
line_pairs/81.json
line_pairs/82.json
line_pairs/83.json
line_pairs/84.json
line_pairs/85.json
line_pairs/86.json
line_pairs/87.json
line_pairs/88.json
line_pairs/89.json
line_pairs/90.json
line_pairs/91.json
line_pairs/92.json
line_pairs/93.json
line_pairs/94.json
line_pairs/95.json
line_pairs/96.json
line_pairs/97.json
line_pairs/98.json
line_pairs/99.json
line_pairs/100.json
line_pairs/101.json
line_pairs/102.json
line_pairs/103.json
line_pairs/104.json
line_pairs/105.json
line_pairs/106.json
line_pairs/107.json
line_pairs/108.json
line_pairs/109.json
line_pairs/110.json
line_pairs/111.json
line_pairs/112.json
line_pairs/113.json
line_pairs/114.json
line_pairs/115.json
line_pairs/116.json
line_pairs/117.json
line_pairs/118.json
line_pairs/119.json
line_pairs/120.json
line_pairs/121.json
line_pairs/122.json
line_pairs/123.json
line_pairs/124.json
line_pairs/125.json
line_pairs/126.json
line_pairs/127.json
line_pairs/128.json
line_pairs/129.json
line_pairs/130.json
line_pairs/131.json
line_pairs/132.json
line_pairs/133.json
line_pairs/134.json
line_pairs/135.json
line_pairs/136.json
line_pairs/137.json
line_pairs/138.json
line_pairs/139.json
line_pairs/140.json
line_pairs/141.json
line_pairs/142.json
line_pairs/143.json
line_pairs/144.json
line_pairs/145.json
line_pairs/146.json
line_pairs/147.json
line_pairs/148.json
line_pairs/149.json
line_pairs/150.json
line_pairs/151.json
line_pairs/152.json
line_pairs/153.json
line_pairs/154.json
line_pairs/155.json
line_pairs/156.json
line_pairs/157.json
line_pairs/158.json
line_pairs/159.json
line_pairs/160.json
line_pairs/161.json
line_pairs/162.json
line_pairs/163.json
line_pairs/164.json
line_pairs/165.json
line_pairs/166.json
line_pairs/167.json
line_pairs/168.json
line_pairs/169.json
line_pairs/170.json
line_pairs/171.json
line_pairs/172.json
line_pairs/173.json
line_pairs/174.json
line_pairs/175.json
line_pairs/176.json
line_pairs/177.json
line_pairs/178.json
line_pairs/179.json
line_pairs/180.json
line_pairs/181.json
line_pairs/182.json
line_pairs/183.json
line_pairs/184.json
line_pairs/185.json
line_pairs/186.json
line_pairs/187.json
line_pairs/188.json
line_pairs/189.json
line_pairs/190.json
line_pairs/191.json
line_pairs/192.json
line_pairs/193.json
line_pairs/194.json
line_pairs/195.json
line_pairs/196.json
line_pairs/197.json
line_pairs/198.json
line_pairs/199.json
line_pairs/200.json
line_pairs/201.json
line_pairs/202.json
line_pairs/203.json
line_pairs/204.json
line_pairs/205.json
line_pairs/206.json
line_pairs/207.json
line_pairs/208.json
line_pairs/209.json
line_pairs/210.json
line_pairs/211.json
line_pairs/212.json
line_pairs/213.json
line_pairs/214.json
line_pairs/215.json
line_pairs/216.json
line_pairs/217.json
line_pairs/218.json
line_pairs/219.json
line_pairs/220.json
line_pairs/221.json
line_pairs/222.json
line_pairs/223.json
line_pairs/224.json
line_pairs/225.json
line_pairs/226.json
line_pairs/227.json
line_pairs/228.json
line_pairs/229.json
line_pairs/230.json
line_pairs/231.json
line_pairs/232.json
line_pairs/233.json
line_pairs/234.json
line_pairs/235.json
line_pairs/236.json
line_pairs/237.json
line_pairs/238.json
line_pairs/239.json
line_pairs/240.json
line_pairs/241.json
line_pairs/242.json
line_pairs/243.json
line_pairs/244.json
line_pairs/245.json
line_pairs/246.json
line_pairs/247.json
line_pairs/248.json
line_pairs/249.json
line_pairs/250.json
line_pairs/251.json
line_pairs/252.json
line_pairs/253.json
line_pairs/254.json
line_pairs/255.json
line_pairs/256.json
line_pairs/257.json
line_pairs/258.json
line_pairs/259.json
line_pairs/260.json
line_pairs/261.json
line_pairs/262.json
line_pairs/263.json
line_pairs/264.json
line_pairs/265.json
line_pairs/266.json
line_pairs/267.json
line_pairs/268.json
line_pairs/269.json
line_pairs/270.json
line_pairs/271.json
line_pairs/272.json
line_pairs/273.json
line_pairs/274.json
line_pairs/275.json
line_pairs/276.json
line_pairs/277.json
line_pairs/278.json
line_pairs/279.json
line_pairs/280.json
line_pairs/281.json
line_pairs/282.json
line_pairs/283.json
line_pairs/284.json
line_pairs/285.json
line_pairs/286.json
line_pairs/287.json
line_pairs/288.json
line_pairs/289.json
line_pairs/290.json
line_pairs/291.json
line_pairs/292.json
line_pairs/293.json
line_pairs/294.json
line_pairs/295.json
line_pairs/296.json
line_pairs/297.json
line_pairs/298.json
line_pairs/299.json
line_pairs/300.json
line_pairs/301.json
line_pairs/302.json
line_pairs/303.json
line_pairs/304.json
line_pairs/305.json
line_pairs/306.json
line_pairs/307.json
line_pairs/308.json
line_pairs/309.json
line_pairs/310.json
line_pairs/311.json
line_pairs/312.json
line_pairs/313.json
line_pairs/314.json
line_pairs/315.json
line_pairs/316.json
line_pairs/317.json
line_pairs/318.json
line_pairs/319.json
line_pairs/320.json
line_pairs/321.json
line_pairs/322.json
line_pairs/323.json
line_pairs/324.json
line_pairs/325.json
line_pairs/326.json
line_pairs/327.json
line_pairs/328.json
line_pairs/329.json
line_pairs/330.json
line_pairs/331.json
line_pairs/332.json
line_pairs/333.json
line_pairs/334.json
line_pairs/335.json
line_pairs/336.json
line_pairs/337.json
line_pairs/338.json
line_pairs/339.json
line_pairs/340.json
line_pairs/341.json
line_pairs/342.json
line_pairs/343.json
line_pairs/344.json
line_pairs/345.json
line_pairs/346.json
line_pairs/347.json
line_pairs/348.json
line_pairs/349.json
line_pairs/350.json
training_bert-for_code/line_pairs/0.json
training_bert-for_code/line_pairs/1.json
training_bert-for_code/line_pairs/2.json
training_bert-for_code/line_pairs/3.json
training_bert-for_code/line_pairs/4.json
training_bert-for_code/line_pairs/5.json
training_bert-for_code/line_pairs/6.json
training_bert-for_code/line_pairs/7.json
training_bert-for_code/line_pairs/8.json
training_bert-for_code/line_pairs/9.json
training_bert-for_code/line_pairs/10.json
training_bert-for_code/line_pairs/11.json
training_bert-for_code/line_pairs/12.json
training_bert-for_code/line_pairs/13.json
training_bert-for_code/line_pairs/14.json
training_bert-for_code/line_pairs/15.json
training_bert-for_code/line_pairs/16.json
training_bert-for_code/line_pairs/17.json
training_bert-for_code/line_pairs/18.json
training_bert-for_code/line_pairs/19.json
training_bert-for_code/line_pairs/20.json
training_bert-for_code/line_pairs/21.json
training_bert-for_code/line_pairs/22.json
training_bert-for_code/line_pairs/23.json
training_bert-for_code/line_pairs/24.json
training_bert-for_code/line_pairs/25.json
training_bert-for_code/line_pairs/26.json
training_bert-for_code/line_pairs/27.json
training_bert-for_code/line_pairs/28.json
training_bert-for_code/line_pairs/29.json
training_bert-for_code/line_pairs/30.json
training_bert-for_code/line_pairs/31.json
training_bert-for_code/line_pairs/32.json
training_bert-for_code/line_pairs/33.json
training_bert-for_code/line_pairs/34.json
training_bert-for_code/line_pairs/35.json
training_bert-for_code/line_pairs/36.json
training_bert-for_code/line_pairs/37.json
training_bert-for_code/line_pairs/38.json
training_bert-for_code/line_pairs/39.json
training_bert-for_code/line_pairs/40.json
training_bert-for_code/line_pairs/41.json
training_bert-for_code/line_pairs/42.json
training_bert-for_code/line_pairs/43.json
training_bert-for_code/line_pairs/44.json
training_bert-for_code/line_pairs/45.json
training_bert-for_code/line_pairs/46.json
training_bert-for_code/line_pairs/47.json
training_bert-for_code/line_pairs/48.json
training_bert-for_code/line_pairs/49.json
training_bert-for_code/line_pairs/50.json
training_bert-for_code/line_pairs/51.json
training_bert-for_code/line_pairs/52.json
training_bert-for_code/line_pairs/53.json
training_bert-for_code/line_pairs/54.json
training_bert-for_code/line_pairs/55.json
training_bert-for_code/line_pairs/56.json
training_bert-for_code/line_pairs/57.json
training_bert-for_code/line_pairs/58.json
training_bert-for_code/line_pairs/59.json
training_bert-for_code/line_pairs/60.json
training_bert-for_code/line_pairs/61.json
training_bert-for_code/line_pairs/62.json
training_bert-for_code/line_pairs/63.json
training_bert-for_code/line_pairs/64.json
training_bert-for_code/line_pairs/65.json
training_bert-for_code/line_pairs/66.json
training_bert-for_code/line_pairs/67.json
training_bert-for_code/line_pairs/68.json
training_bert-for_code/line_pairs/69.json
training_bert-for_code/line_pairs/70.json
training_bert-for_code/line_pairs/71.json
training_bert-for_code/line_pairs/72.json
training_bert-for_code/line_pairs/73.json
training_bert-for_code/line_pairs/74.json
training_bert-for_code/line_pairs/75.json
training_bert-for_code/line_pairs/76.json
training_bert-for_code/line_pairs/77.json
training_bert-for_code/line_pairs/78.json
training_bert-for_code/line_pairs/79.json
training_bert-for_code/line_pairs/80.json
training_bert-for_code/line_pairs/81.json
training_bert-for_code/line_pairs/82.json
training_bert-for_code/line_pairs/83.json
training_bert-for_code/line_pairs/84.json
training_bert-for_code/line_pairs/85.json
training_bert-for_code/line_pairs/86.json
training_bert-for_code/line_pairs/87.json
training_bert-for_code/line_pairs/88.json
training_bert-for_code/line_pairs/89.json
training_bert-for_code/line_pairs/90.json
training_bert-for_code/line_pairs/91.json
training_bert-for_code/line_pairs/92.json
training_bert-for_code/line_pairs/93.json
training_bert-for_code/line_pairs/94.json
training_bert-for_code/line_pairs/95.json
training_bert-for_code/line_pairs/96.json
training_bert-for_code/line_pairs/97.json
training_bert-for_code/line_pairs/98.json
training_bert-for_code/line_pairs/99.json
training_bert-for_code/line_pairs/100.json
training_bert-for_code/line_pairs/101.json
training_bert-for_code/line_pairs/102.json
training_bert-for_code/line_pairs/103.json
training_bert-for_code/line_pairs/104.json
training_bert-for_code/line_pairs/105.json
training_bert-for_code/line_pairs/106.json
training_bert-for_code/line_pairs/107.json
training_bert-for_code/line_pairs/108.json
training_bert-for_code/line_pairs/109.json
training_bert-for_code/line_pairs/110.json
training_bert-for_code/line_pairs/111.json
training_bert-for_code/line_pairs/112.json
training_bert-for_code/line_pairs/113.json
training_bert-for_code/line_pairs/114.json
training_bert-for_code/line_pairs/115.json
training_bert-for_code/line_pairs/116.json
training_bert-for_code/line_pairs/117.json
training_bert-for_code/line_pairs/118.json
training_bert-for_code/line_pairs/119.json
training_bert-for_code/line_pairs/120.json
training_bert-for_code/line_pairs/121.json
training_bert-for_code/line_pairs/122.json
training_bert-for_code/line_pairs/123.json
training_bert-for_code/line_pairs/124.json
training_bert-for_code/line_pairs/125.json
training_bert-for_code/line_pairs/126.json
training_bert-for_code/line_pairs/127.json
training_bert-for_code/line_pairs/128.json
training_bert-for_code/line_pairs/129.json
training_bert-for_code/line_pairs/130.json
training_bert-for_code/line_pairs/131.json
training_bert-for_code/line_pairs/132.json
training_bert-for_code/line_pairs/133.json
training_bert-for_code/line_pairs/134.json
training_bert-for_code/line_pairs/135.json
training_bert-for_code/line_pairs/136.json
training_bert-for_code/line_pairs/137.json
training_bert-for_code/line_pairs/138.json
training_bert-for_code/line_pairs/139.json
training_bert-for_code/line_pairs/140.json
training_bert-for_code/line_pairs/141.json
training_bert-for_code/line_pairs/142.json
training_bert-for_code/line_pairs/143.json
training_bert-for_code/line_pairs/144.json
training_bert-for_code/line_pairs/145.json
training_bert-for_code/line_pairs/146.json
training_bert-for_code/line_pairs/147.json
training_bert-for_code/line_pairs/148.json
training_bert-for_code/line_pairs/149.json
training_bert-for_code/line_pairs/150.json
training_bert-for_code/line_pairs/151.json
training_bert-for_code/line_pairs/152.json
training_bert-for_code/line_pairs/153.json
training_bert-for_code/line_pairs/154.json
training_bert-for_code/line_pairs/155.json
training_bert-for_code/line_pairs/156.json
training_bert-for_code/line_pairs/157.json
training_bert-for_code/line_pairs/158.json
training_bert-for_code/line_pairs/159.json
training_bert-for_code/line_pairs/160.json
training_bert-for_code/line_pairs/161.json
training_bert-for_code/line_pairs/162.json
training_bert-for_code/line_pairs/163.json
training_bert-for_code/line_pairs/164.json
training_bert-for_code/line_pairs/165.json
training_bert-for_code/line_pairs/166.json
training_bert-for_code/line_pairs/167.json
training_bert-for_code/line_pairs/168.json
training_bert-for_code/line_pairs/169.json
training_bert-for_code/line_pairs/170.json
training_bert-for_code/line_pairs/171.json
training_bert-for_code/line_pairs/172.json
training_bert-for_code/line_pairs/173.json
training_bert-for_code/line_pairs/174.json
training_bert-for_code/line_pairs/175.json
training_bert-for_code/line_pairs/176.json
training_bert-for_code/line_pairs/177.json
training_bert-for_code/line_pairs/178.json
training_bert-for_code/line_pairs/179.json
training_bert-for_code/line_pairs/180.json
training_bert-for_code/line_pairs/181.json
training_bert-for_code/line_pairs/182.json
training_bert-for_code/line_pairs/183.json
training_bert-for_code/line_pairs/184.json
training_bert-for_code/line_pairs/185.json
training_bert-for_code/line_pairs/186.json
training_bert-for_code/line_pairs/187.json
training_bert-for_code/line_pairs/188.json
training_bert-for_code/line_pairs/189.json
training_bert-for_code/line_pairs/190.json
training_bert-for_code/line_pairs/191.json
training_bert-for_code/line_pairs/192.json
training_bert-for_code/line_pairs/193.json
training_bert-for_code/line_pairs/194.json
training_bert-for_code/line_pairs/195.json
training_bert-for_code/line_pairs/196.json
training_bert-for_code/line_pairs/197.json
training_bert-for_code/line_pairs/198.json
training_bert-for_code/line_pairs/199.json
training_bert-for_code/line_pairs/200.json
training_bert-for_code/line_pairs/201.json
training_bert-for_code/line_pairs/202.json
training_bert-for_code/line_pairs/203.json
training_bert-for_code/line_pairs/204.json
training_bert-for_code/line_pairs/205.json
training_bert-for_code/line_pairs/206.json
training_bert-for_code/line_pairs/207.json
training_bert-for_code/line_pairs/208.json
training_bert-for_code/line_pairs/209.json
training_bert-for_code/line_pairs/210.json
training_bert-for_code/line_pairs/211.json
training_bert-for_code/line_pairs/212.json
training_bert-for_code/line_pairs/213.json
training_bert-for_code/line_pairs/214.json
training_bert-for_code/line_pairs/215.json
training_bert-for_code/line_pairs/216.json
training_bert-for_code/line_pairs/217.json
training_bert-for_code/line_pairs/218.json
training_bert-for_code/line_pairs/219.json
training_bert-for_code/line_pairs/220.json
training_bert-for_code/line_pairs/221.json
training_bert-for_code/line_pairs/222.json
training_bert-for_code/line_pairs/223.json
training_bert-for_code/line_pairs/224.json
training_bert-for_code/line_pairs/225.json
training_bert-for_code/line_pairs/226.json
training_bert-for_code/line_pairs/227.json
training_bert-for_code/line_pairs/228.json
training_bert-for_code/line_pairs/229.json
training_bert-for_code/line_pairs/230.json
training_bert-for_code/line_pairs/231.json
training_bert-for_code/line_pairs/232.json
training_bert-for_code/line_pairs/233.json
training_bert-for_code/line_pairs/234.json
training_bert-for_code/line_pairs/235.json
training_bert-for_code/line_pairs/236.json
training_bert-for_code/line_pairs/237.json
training_bert-for_code/line_pairs/238.json
training_bert-for_code/line_pairs/239.json
training_bert-for_code/line_pairs/240.json
training_bert-for_code/line_pairs/241.json
training_bert-for_code/line_pairs/242.json
training_bert-for_code/line_pairs/243.json
training_bert-for_code/line_pairs/244.json
training_bert-for_code/line_pairs/245.json
training_bert-for_code/line_pairs/246.json
training_bert-for_code/line_pairs/247.json
training_bert-for_code/line_pairs/248.json
training_bert-for_code/line_pairs/249.json
training_bert-for_code/line_pairs/250.json
training_bert-for_code/line_pairs/251.json
training_bert-for_code/line_pairs/252.json
training_bert-for_code/line_pairs/253.json
training_bert-for_code/line_pairs/254.json
training_bert-for_code/line_pairs/255.json
training_bert-for_code/line_pairs/256.json
training_bert-for_code/line_pairs/257.json
training_bert-for_code/line_pairs/258.json
training_bert-for_code/line_pairs/259.json
training_bert-for_code/line_pairs/260.json
training_bert-for_code/line_pairs/261.json
training_bert-for_code/line_pairs/262.json
training_bert-for_code/line_pairs/263.json
training_bert-for_code/line_pairs/264.json
training_bert-for_code/line_pairs/265.json
training_bert-for_code/line_pairs/266.json
training_bert-for_code/line_pairs/267.json
training_bert-for_code/line_pairs/268.json
training_bert-for_code/line_pairs/269.json
training_bert-for_code/line_pairs/270.json
training_bert-for_code/line_pairs/271.json
training_bert-for_code/line_pairs/272.json
training_bert-for_code/line_pairs/273.json
training_bert-for_code/line_pairs/274.json
training_bert-for_code/line_pairs/275.json
training_bert-for_code/line_pairs/276.json
training_bert-for_code/line_pairs/277.json
training_bert-for_code/line_pairs/278.json
training_bert-for_code/line_pairs/279.json
training_bert-for_code/line_pairs/280.json
training_bert-for_code/line_pairs/281.json
training_bert-for_code/line_pairs/282.json
training_bert-for_code/line_pairs/283.json
training_bert-for_code/line_pairs/284.json
training_bert-for_code/line_pairs/285.json
training_bert-for_code/line_pairs/286.json
training_bert-for_code/line_pairs/287.json
training_bert-for_code/line_pairs/288.json
training_bert-for_code/line_pairs/289.json
training_bert-for_code/line_pairs/290.json
training_bert-for_code/line_pairs/291.json
training_bert-for_code/line_pairs/292.json
training_bert-for_code/line_pairs/293.json
training_bert-for_code/line_pairs/294.json
training_bert-for_code/line_pairs/295.json
training_bert-for_code/line_pairs/296.json
training_bert-for_code/line_pairs/297.json
training_bert-for_code/line_pairs/298.json
training_bert-for_code/line_pairs/299.json
training_bert-for_code/line_pairs/300.json
training_bert-for_code/line_pairs/301.json
training_bert-for_code/line_pairs/302.json
training_bert-for_code/line_pairs/303.json
training_bert-for_code/line_pairs/304.json
training_bert-for_code/line_pairs/305.json
training_bert-for_code/line_pairs/306.json
training_bert-for_code/line_pairs/307.json
training_bert-for_code/line_pairs/308.json
training_bert-for_code/line_pairs/309.json
training_bert-for_code/line_pairs/310.json
training_bert-for_code/line_pairs/311.json
training_bert-for_code/line_pairs/312.json
training_bert-for_code/line_pairs/313.json
training_bert-for_code/line_pairs/314.json
training_bert-for_code/line_pairs/315.json
training_bert-for_code/line_pairs/316.json
training_bert-for_code/line_pairs/317.json
training_bert-for_code/line_pairs/318.json
training_bert-for_code/line_pairs/319.json
training_bert-for_code/line_pairs/320.json
training_bert-for_code/line_pairs/321.json
training_bert-for_code/line_pairs/322.json
training_bert-for_code/line_pairs/323.json
training_bert-for_code/line_pairs/324.json
training_bert-for_code/line_pairs/325.json
training_bert-for_code/line_pairs/326.json
training_bert-for_code/line_pairs/327.json
training_bert-for_code/line_pairs/328.json
training_bert-for_code/line_pairs/329.json
training_bert-for_code/line_pairs/330.json
training_bert-for_code/line_pairs/331.json
training_bert-for_code/line_pairs/332.json
training_bert-for_code/line_pairs/333.json
training_bert-for_code/line_pairs/334.json
training_bert-for_code/line_pairs/335.json
training_bert-for_code/line_pairs/336.json
training_bert-for_code/line_pairs/337.json
training_bert-for_code/line_pairs/338.json
training_bert-for_code/line_pairs/339.json
training_bert-for_code/line_pairs/340.json
training_bert-for_code/line_pairs/341.json
training_bert-for_code/line_pairs/342.json
training_bert-for_code/line_pairs/343.json
training_bert-for_code/line_pairs/344.json
training_bert-for_code/line_pairs/345.json
training_bert-for_code/line_pairs/346.json
training_bert-for_code/line_pairs/347.json
training_bert-for_code/line_pairs/348.json
training_bert-for_code/line_pairs/349.json
training_bert-for_code/line_pairs/350.json
